.demo {
  position: relative;
  z-index: 5;
  padding-bottom: 14rem;
}
.demo::after {
  content: " ";
  position: absolute;
  top: 24rem;
  width: 100%;
  height: 0.1rem;
  background-color: rgba(0, 153, 250, 0.15);
}
.demo__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 5;
  height: 24rem;
  margin-right: calc((100vw - 116rem) / 2);
  margin-left: calc((100vw - 116rem) / 2);
  padding-left: 10.4rem;
  padding-right: 10rem;
  border-radius: 1rem;
  background-color: #f0f8ff;
}
.demo__info {
  padding-right: 30px;
}
.demo__info--title {
  margin-bottom: 1rem;
  color: #001834;
}
.demo__info--descr {
  line-height: 1.588;
  font-size: 1.7rem;
}
.demo__info--descr-color {
  color: #0099fa;
  font-weight: 700;
}
.demo__btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  padding: 0 3.4rem;
  border-radius: 1rem;
  transition: all 0.35s;

  text-transform: uppercase;
  z-index: 5;
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.demo__btn--text {
  color: #fff;
  font-family: "Montserrat";
  font-size: 1.6rem;
  font-weight: 600;
  position: relative;
  z-index: 10;
  text-align: center;
}
.demo__btn::after,
.demo__btn::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  border-radius: 1rem;
  color: #fff;
}
.demo__btn::before {
  z-index: 5;
  background: #0099fa;
  opacity: 0;
}
.demo__btn::after {
  background: -o-linear-gradient(1.92deg, #0099fa 17.81%, #1a4dde 96.46%);
  background: linear-gradient(88.08deg, #0099fa 17.81%, #1a4dde 96.46%);
}
.demo__btn:hover .btn__shadow,
.demo__btn:hover::before {
  opacity: 1;
}
@media (max-width: 1199px) {
  .demo {
    padding-bottom: 9.8rem;
  }
  .demo::after {
    top: 22.6rem;
  }
  .demo__wrapper {
    margin-right: calc((100vw - 94rem) / 2);
    margin-left: calc((100vw - 94rem) / 2);
    padding-left: 6rem;
    padding-right: 6.2rem;
  }
  .demo__info--descr {
    font-size: 1.6rem;
  }
}
@media (max-width: 959px) {
  .demo {
    padding-bottom: 9.4rem;
  }
  .demo::after {
    top: 23.8rem;
  }
  .demo__wrapper {
    flex-direction: column;
    height: auto;
    margin-right: calc((100vw - 62rem) / 2);
    margin-left: calc((100vw - 62rem) / 2);
    padding: 4.2rem 3.4rem;
    text-align: center;
  }
  .demo__info {
    padding-right: 0;
    margin-bottom: 3rem;
  }
}
@media (max-width: 639px) {
  .demo {
    padding-bottom: 8.6rem;
  }
  .demo::after {
    top: 20.2rem;
  }
  .demo__wrapper {
    margin-right: calc((100vw - 46rem) / 2);
    margin-left: calc((100vw - 46rem) / 2);
    padding: 3.8rem 4.8rem;
  }
  .demo__info--descr {
    font-size: 1.5rem;
  }
}
@media (max-width: 479px) {
  .demo {
    padding-bottom: 6.2rem;
  }
  .demo::after {
    top: 21rem;
  }
  .demo__wrapper {
    margin-right: calc((100vw - 32rem) / 2);
    margin-left: calc((100vw - 32rem) / 2);
    padding: 3.2rem;
  }
}
