.header__logo {
  svg {
    --width: 25rem;
    width: var(--width);
    height: auto;
  }
  color: #fff;
  cursor: pointer;
}
.header__logo .logo[data-type="affiliate"] .logo__text--color,
.header__logo .logo__icon--color {
  visibility: visible;
}
.logo[data-type="pocket-option"] #pocket-option,
.logo[data-type="pocket-broker"] #pocket-broker,
.logo[data-type="po-trade"] #po-trade {
  visibility: visible;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}
.header__inner {
  padding-top: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // height: 110px;
}
.header__logo {
}
.logo {
}

@media (max-width: 1199px) {
  .header__inner {
    padding-top: 6.4rem;
  }
}
@media screen and (max-width: 959px) {
  .header__login {
    margin-left: 0.8rem;
  }
}
@media screen and (max-width: 639px) {
  .header__inner {
    flex-direction: column;
    gap: 2rem;
  }
  .header__logo {
    svg {
      --width: 19rem;
    }
  }
}
@media screen and (max-width: 479px) {
  .header__logo {
    svg {
      --width: 16.2rem;
    }
  }
}
