.hero {
  position: relative;
  height: 68.8rem;
}
.hero::before {
  top: 16rem;
}
.hero::after {
  bottom: 4.4rem;
}
.hero::after,
.hero::before {
  content: " ";
  position: absolute;
  left: 0;
  z-index: 5;
  pointer-events: none;
  width: 100%;
  height: 0.1rem;
  background-color: rgba(0, 153, 250, 0.15);
}
.hero__candles {
  position: absolute;
  top: 10.8rem;
  left: calc((100vw - 116rem) / 2 - 17.2rem);
  width: 150rem;
}
.hero__inner {
}
.hero__info {
  position: relative;
  z-index: 5;
  padding-top: 30rem;
  text-align: center;
}
.hero__info--title {
  color: #fff;
  margin-bottom: 4.8rem;
}
.hero--btn {
  display: block;
  position: relative;
  width: 240px;
  margin: 0 auto;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 6rem;
  padding: 0 3.4rem;
  border-radius: 1rem;
  transition: all 0.35s;
  color: #1e385b;
  font-family: "Montserrat";
  font-size: 1.6rem;

  font-weight: 600;
  text-transform: uppercase;
  z-index: 5;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.btn::before {
  z-index: 5;
  background: #0099fa;
  opacity: 0;
}
.btn::after {
  background: -o-linear-gradient(1.92deg, #0099fa 17.81%, #1a4dde 96.46%);
  background: linear-gradient(88.08deg, #0099fa 17.81%, #1a4dde 96.46%);
}
.btn::after,
.btn::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.35s;
  border-radius: 1rem;
  color: #fff;
}
.btn:hover .btn__shadow,
.btn:hover::before {
  opacity: 1;
}
.btn__text {
  color: #fff;
  position: relative;
  z-index: 10;
  text-align: center;
  font-family: "Montserrat", serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}
.btn__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.35s;
  border-radius: 1rem;
  filter: blur(1.5rem);
  opacity: 0;
  background: #0099fa;
}
@media (max-width: 1199px) {
  .hero {
    height: 58rem;
  }
  .hero::before {
    top: 16rem;
  }
  .hero::after {
    bottom: 0;
  }
  .hero__candles {
    top: 10rem;
    left: calc((100vw - 94rem) / 2 - 28.2rem);
  }
  .hero__info {
    padding-top: 28.2rem;
  }
  .hero--btn {
    margin-top: 4.8rem;
  }
}
@media (max-width: 959px) {
  .hero {
    height: 49.4rem;
  }
  .hero::before {
    top: 13.8rem;
  }
  .hero__candles {
    top: 7.8rem;
    left: calc((100vw - 62rem) / 2 - 29rem);
    max-width: 120rem;
  }
  .hero__info {
    padding-top: 20.4rem;
  }
  .hero__info--title {
    margin: 0 auto;
    max-width: 54rem;
  }
  .hero--btn {
    margin-top: 4.2rem;
  }
}
@media (max-width: 639px) {
  .hero::before {
    top: 16rem;
  }
  .hero__candles {
    top: 12rem;
    left: calc((100vw - 46rem) / 2 - 29rem);
    max-width: 100rem;
  }
  .hero__info {
    padding-top: 21.2rem;
  }
  .hero__info--title {
    max-width: 46rem;
  }
  .hero--btn {
    margin-top: 4.6rem;
  }
}
@media (max-width: 479px) {
  .hero {
    height: 46.8rem;
  }
  .hero__candles {
    left: calc((100vw - 30rem) / 2 - 30rem);
    max-width: 90rem;
  }
  .hero__info {
    padding-top: 19.6rem;
  }
  .hero__info--title {
    max-width: 30rem;
  }
  .hero--btn {
    margin-top: 4rem;
  }
}
