.payments {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 13.8rem;
}
.payments::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#001834),
    to(rgba(0, 24, 52, 0))
  );
  background: -o-linear-gradient(bottom, #001834 0, rgba(0, 24, 52, 0) 100%);
  background: linear-gradient(0deg, #001834 0, rgba(0, 24, 52, 0) 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.payments__title {
  position: relative;
  z-index: 10;
  color: #fff;
  text-align: center;
}
.payments__items {
  position: relative;
  z-index: 10;
  margin-top: 7rem;
  margin-right: calc((100vw - 118.8rem) / 2);
  margin-left: calc((100vw - 118.8rem) / 2);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4rem;
}
.payments__item {
  pointer-events: none;
  width: 100%;
}
.payments__item--icon {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.payments__items .icon--visa .icon__text {
  color: #1334cb;
}
.payments__items:not(.payments__items-color) .icon__mono,
.payments__items-color .icon__color {
  visibility: visible;
}
.payments__items-color .icon--pm {
  color: #f01010;
}
.payments__items-color .icon--pm .icon__small-text,
.payments__items-color .icon--upi .icon__main-text,
.payments__items-color {
  color: #fff;
}
.payments__items-color {
  .icon--pix,
  .icon--upi,
  .icon--m-pesa,
  .icon--easy,
  .icon--bkash,
  .icon--volet {
    color: #fff;
  }
}
.payments__items-color .icon--pix .icon__accent-color {
  color: #32bcad;
}
.payments__items-color .icon--jeton {
  color: #ff6300;
}
.payments__items-color .icon--upi .icon__arrow-two {
  color: #249350;
}
.payments__items-color .icon--upi .icon__arrow-one {
  color: #ee782c;
}
.payments__items-color .icon--m-pesa .icon__accent-color {
  color: #39b54a;
}
.payments__items-color .icon--mtn {
  color: #ffcb05;
}
.payments__items-color .icon--easy .icon__accent-color {
  color: #26b15d;
}
.payments__items-color .icon--bkash .icon__accent-color {
  color: #e2136e;
}
.payments__button {
  position: relative;
  z-index: 10;
  margin-top: 4rem;
  text-align: center;
}
.payments__btn {
  position: relative;
  z-index: 5;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 6rem;
  width: 44rem;
  border-radius: 1rem;
  transition: all 0.35s;
  color: #1e385b;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}
.payments__btn:hover .btn__shadow,
.payments__btn:hover::before {
  opacity: 1;
}
.payments__btn::before {
  z-index: 5;
  background: #0099fa;
  opacity: 0;
}
.payments__btn::after {
  background: -o-linear-gradient(1.92deg, #0099fa 17.81%, #1a4dde 96.46%);
  background: linear-gradient(88.08deg, #0099fa 17.81%, #1a4dde 96.46%);
}
.payments__btn::after,
.payments__btn::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.35s;
  border-radius: 1rem;
  color: #fff;
}
.btn__text {
  color: #fff;
  position: relative;
  z-index: 10;
  text-align: center;
}
.btn__shadow {
}
@media (max-width: 1199px) {
  .payments {
    padding-top: 7.8rem;
    padding-bottom: 7.4rem;
  }
  .payments__items {
    gap: 1rem 2rem;
    margin-top: 6.4rem;
    margin-right: calc((100vw - 96.2rem) / 2);
    margin-left: calc((100vw - 96.2rem) / 2);
  }
  .payments__button {
    margin-top: 6rem;
  }
}
@media (max-width: 959px) {
  .payments {
    padding-top: 5.8rem;
    padding-bottom: 6.6rem;
  }
  .payments__items {
    margin-top: 5rem;
    margin-right: calc((100vw - 64.4rem) / 2);
    margin-left: calc((100vw - 64.4rem) / 2);
  }
  .payments__button {
    margin-top: 4.4rem;
  }
}
@media (max-width: 639px) {
  .payments {
    padding-top: 4.2rem;
    padding-bottom: 9.6rem;
  }
  .payments__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 4rem;
    margin-top: 5.2rem;
    margin-right: calc((100vw - 49.8rem) / 2);
    margin-left: calc((100vw - 49.8rem) / 2);
  }
  .payments__button {
    margin-top: 3.6rem;
  }
}
@media (max-width: 479px) {
  .payments {
    padding-top: 3.4rem;
    padding-bottom: 9rem;
  }
  .payments__title {
    margin: 0 auto;
    max-width: 30rem;
  }
  .payments__items {
    column-gap: 2.4rem;
    margin-top: 4.2rem;
    margin-right: calc((100vw - 32.4rem) / 2);
    margin-left: calc((100vw - 32.4rem) / 2);
  }
  .payments__button {
    margin-top: 4.2rem;
  }
  .payments__btn {
    width: 30rem;
    height: 8rem;
    padding: 0 4rem;
  }
}
